<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <title>Social Music</title>
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
 </head>
 <body>
 <% if (user_session) { %>
 <nav>
     <div class="nav-wrapper">
         <a href="http://localhost:3000/" class="brand-logo">HOME</a>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
             <li><a href="/songs">MusicTheque</a></li>
             <li><a href="/users">Réseau d'utilisateurs</a></li>
             <li><a href="/users/<%= user_in_run._id %>"><%= user_in_run.displayName %></a></li>
             <li><a href="/logout">Déconnexion</a></li>
         </ul>
     </div>
 </nav>
<% } %>